.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, var(--random-color) 20%,  var(--random-color-2) 80%);
  border-radius: 50%;
  overflow: hidden;
  padding: 16px;
  margin: 16px;
  
  box-shadow: 0 0 15px 0 rgba(253, 253, 253, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
  
  .planet-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .planet-card-population {
    font-size: 16px;
    color: #fff;
  }
} 